<%= form_for jar do |f| %>
  <div class="field" id="new-jar-name-label">
    <%= f.text_field :name, placeholder: "What Will You Name It..." %>
  </div>
  <div class="field">
    <%= f.label :color %>
    <%= f.select :color, "<option data-img-src='#{image_path("mason-jar-mint.png")}', value='1'>mint</option><option data-img-src='#{image_path("mason-jar-mint.png")}', value='2'>hot_pink</option>".html_safe %>

  </div>
  <div class="field">
    <%= f.submit id: 'update-jar' %>
  </div>
<% end %>
