<h1><%= @jar.name %> Jaar <h1>

  <%= link_to "GIMMIE SOMETHIN ELSE FOO", jar_path(@jar) %>


<div>

  <% if @media == 'empty' %>
    <p>your jar is empty. Go ahead and add something!</p>
  <% else %>
    <% case @media[0]%>
      <% when 1 %>
        <p><%= @media[1] %></p>
      <% when 2 %>
        <%= image_tag @media[1] %>
        <p><%= @media[2] %></p>
    <% end %>
  <% end %>


  <!-- <% if @jar.items.count == 0 %>
    <p>
      Your jar is empty. Go ahead and add something!
    </p>
  <% else %>
  <% random_item = @jar.items.sample %>
    <% case random_item.type_id  %>
      <% when 1 %>
      <p><%= random_item.comment %></p>
      <% when 2 %>
      <%= image_tag random_item.type_data.url %>
      <p><%= random_item.comment %></p>
    <% end %>
  <% end %> -->
  <h3><%= link_to 'Add New Item to Jar', new_jar_item_path(@jar) %></h3>

  <h2><%= link_to 'Back to All Jaars', jars_path(@location) %></h2>

  <%= link_to 'Edit Jaar Information', edit_jar_path %>
</div>
