<h1><%= @jar.name %> Jaar </h1>

 <h4 class="random"><%= link_to "New Randon Note", jar_path(@jar), id: 'refresh' %></h4>


<div class="media" id="random-item">


 <% if @media == 'empty' %>
   <p>your jar is empty. Go ahead and add something!</p>
 <% else %>
   <% case @media[0]%>
     <% when 1 %>
       <p><%= @media[1] %></p>
     <% when 2 %>
       <%= image_tag @media[1] %>
       <p><%= @media[2] %></p>
     <% when 3 %>
       <%= video_tag @media[1], controls: true %>
       <p><%= @media[2] %></p>
   <% end %>
 <% end %>

</div>

<% if @jar.name == 'General' %>
    <%= link_to 'Add New Item to Jar', new_jar_item_path(@jar), id: 'new' %>
<% else %>
    <% if @jar.closed %>
       <p>
         This jar is closed
       </p>
    <% else %>
      <%= link_to 'Add New Item to Jar', new_jar_item_path(@jar), id: 'new' %>
      <%= link_to 'Edit Jaar Information', edit_jar_path, id: 'edit' %>
      <%= link_to 'Close Jar', action: 'close_jar'  %>
    <% end %>

<% end %>
