<%= form_for user do |f| %>
  <div class="sign-in-field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="sign-in-field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="sign-in-field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="sign-in-field">
     <%= f.label :password %><br />
     <%= f.password_field :password %>
  </div>
  <div class="sign-in-field">
     <%= f.label :password_confirmation %><br />
     <%= f.password_field :password_confirmation %>
  </div>
  <div class="sign-in-field">
    <%= f.submit 'Create Account'%>
  </div>
<% end %>
