<!DOCTYPE html>
<html>
  <head>
    <title>Jaar</title>
    <%= csrf_meta_tags %>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<body>
<% if current_user %>

<div class="top-bar">
  <div class="top-bar-left">
    <ul class=" dropdown menu" data-dropdown-menu>
      <li class="menu-text">JAAR</li>
      <li><%= link_to "Create A New Jar", new_jar_path %></li>

      <!-- This navigation requires jquery before activating -->
      <li><a href="#">Sort By</a>
        <ul class="menu">
          <li id="sort-all"><a href="#">All Jars</a></li>
          <li id="sort-closed"><a href="#">Closed Jars</a></li>
          <li id="sort-alpha"><a href="#">Alphabetical</a></li>
          <li id="sort-recent"><a href="#">Most Recent</a></li>
        </ul>
      </li>

    </ul>
  </div>
  <div class="top-bar-right">
        <ul class="menu" data-dropdown-menu>

          <!-- This will require a search function in application controller to activate -->
          <!-- <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li> -->

          <li><%= link_to 'Edit Profile', edit_users_path(current_user)  %></li>
          <li><%= link_to 'Log Out', :logout, method: :post %></li>
        </ul>
  </div>
</div>
<div class="alerts">
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
</div>


<% else %>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul id="login-text-colour" class="dropdown menu" data-dropdown-menu>
      <%=render '/user_sessions/form' %>
    </ul>
  </div>
</div>

<% end %>

    <%= yield %>
  </body>
</html>
