<!DOCTYPE html>
<html>
  <head>
    <title>Jaar</title>
    <%= csrf_meta_tags %>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="top-bar">
      <div class="top-bar-left">
        <ul class=" dropdown menu" data-dropdown-menu>
          <li class="menu-text"><a href="#">Jaar</a></li>
          <li>
            <a href="#">Sort By..</a>
            <ul class="menu">
                <li><a href="#">Recent</a></li>
                <li><a href="#">Items</a></li>
                <li><a href="#">Most Popular</a></li>
            </ul>
          </li>
          <li><%= link_to 'Create A New Jar', new_jar_path %></li>

          <li><a href="#">Three</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class=" dropdown menu" data-dropdown-menu>
          <% if current_user %>
          <li><%= link_to 'Edit Profile', edit_users_path(current_user.id)  %></li>
          <li><%= link_to 'Log Out', :logout, method: :post %></li>
          <% else %>
          <li>  <%= link_to 'Register', new_users_path %></li>
            <li><%= link_to 'Log In', :login %></li>

          <% end %>
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </div>

    </div>
    <div class="alerts">
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>
    <%= yield %>
  </body>
</html>
